body{
	.section{
		min-height: 100%;
		height:auto;

		.textLeft{
			width: 90%;
	  		margin: 5%;
	  		min-width: 90%;
		}

		iframe{
			width: 90%;
			margin: 5%;
		}

		ul{
			width: 90%;
			text-align: center;
			position: relative;
			margin: 5%;
			top: 0;
			left: 0;
			height: 100%;
			padding-bottom:5%;
		}
}
}

