/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "PierSans";
  src: url("font/PierSans/pier-regular.otf");
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #185E9A;
}

h1 {
  font-family: "PierSans";
  font-size: 9vh;
  color: white;
}

h2 {
  font-family: "PierSans";
  font-size: 8vh;
  color: white;
}

p {
  font-family: "PierSans";
  font-size: 3.5vh;
  color: white;
  line-height: 35px;
}

body .smooth {
  opacity: 0;
  transition: all 2s;
}
body .appearOpacity {
  opacity: 1;
}
body .section {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  position: relative;
}
body .section .textLeft {
  min-width: 700px;
  margin: 5% 5% 0% 5%;
  float: left;
  max-width: 50%;
}
body .section .textLeft h2 {
  margin-bottom: 3%;
}
body .section iframe {
  width: 30%;
  margin-top: 11%;
}
body .section ul {
  width: 100%;
  text-align: right;
  height: 200px;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
body .section li {
  height: 100%;
  display: inline-block;
  margin: 0% 1% 0% 1%;
}
body .section li img {
  height: 200px;
}
body header {
  background-color: #185E9A;
}
body header h1 {
  color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
  height: 10%;
  width: 90%;
  text-align: center;
}
body #courtcircuit {
  background-color: #EBAB15;
}
